<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="estilos.css">
    </head>

    <body>

        <div id="app" class="container my-5">
 
            <div v-if="user.username == null" class="card login-card">
                <div class="card-body">
                    <h5 class="card-title">Formulario de registro / login</h5>
                    <input v-model="username" type="email" class="form-control m-2" placeholder="Email">
                    <input v-model="password" type="password" class="form-control m-2" placeholder="Password">
                    <button @click="registrarse()" class="btn btn-primary btn-sm m-2">Registrar</button>
                    <button @click="login()" class="btn btn-primary btn-sm m-2">Ingresar</button>
                </div>
            </div>
     
            <div v-if="user.username != null" class="row">
                <div class="col-md-4 border-right">
                    <h5 class="titulo-chat online">
                        <img :src="'https://ui-avatars.com/api/?name=' + user.nombres + '&background=20c997&color=fff'"
                        class="img-fluid" alt="Img">
                        <span>
                            {{user.nombres}}
                            <br>
                            <small class="text-xs">@{{user.username}}</small>
                        </span>
                    </h5>
                    <!-- listado de usuarios  -->
                    <div class="users">
                        <ul class="list-group">
                            <li v-for="item in usuarios" @click="seleccionarReceptor(item)" class="list-group-item d-flex gap-2">
                                <img :src="'https://ui-avatars.com/api/?name=' + item.nombres + '&background=20c997&color=fff'"
                                    class="img-fluid rounded-3" alt="Img" width="40px">
                                <span class="text-left">{{ item.nombres }} <br>
                                    <small class="text-xs">@{{ item.username }}</small>
                                </span>
                                <span>
                                    &nbsp;
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <!-- los chats  -->
                    <div class="card card-chats">
                        <div v-if="receptor.nombres !=null" class="card-body">
                            <h5 class="card-title titulo-chat">
                                <img :src="'https://ui-avatars.com/api/?name=' + receptor.nombres + '&background=20c997&color=fff'"
                                class="img-fluid" alt="Img">
                                <span>{{ receptor.nombres }}
                                    <br>
                                    <small class="text-xs">@{{receptor.username}}</small>
                                </span>
                            </h5>
                            <div class="card card-body flex" style="height: 500px;" id="chats">
                                <div v-for="item in mensajes">
                                    <div v-if="item.emisor_id !=user.id" class="flex">
                                        <img :src="'https://ui-avatars.com/api/?name=' + receptor.nombres + '&background=20c997&color=fff'"
                                        class="img-chat" alt="Img">
                                        <div class="chat chat-emisor">
                                            {{item.mensaje}}
                                        </div>
                                    </div>
                                    <div v-else class="flex fllex-right">
                                        <div class="chat chat-receptor">
                                            {{item.mensaje}}
                                        </div>
                                        <img :src="'https://ui-avatars.com/api/?name=' + user.nombres + '&background=20c997&color=fff'"
                                class="img-chat" alt="Img">
                                    </div>
                                </div>
                            </div>
                            
     
                            <textarea v-model="mensaje" class="form-control mt-3" placeholder="Mensaje..."></textarea>
                            <div class="text-center mt-3">
                                <button @click="enviar()" class="btn btn-primary btn-sm btn-enviar">Enviar</button>
                                <audio id="audio" controls style="display: none;">
                                    <source type="audio/wav" src="tono-mensaje-3-.mp3">
                                </audio>
                            </div>
     
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">
                                Seleccione un usuario
                            </h5>
                            <div class="text-center mt-5">
                                <img src="chat.svg" alt="" height="250px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>

    <script>  
       
       const {createClient}=supabase
 
        const { createApp, ref } = Vue  
        createApp({
            setup() {
            
                const supabase = createClient('https://vmjkvqgvtjauoibbcexr.supabase.co', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtamt2cWd2dGphdW9pYmJjZXhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU5ODE3OTAsImV4cCI6MjA0MTU1Nzc5MH0.WL8TLQGqxCLGZLSP4mYRpdC_VGoyO8Z02EXo2Rxn02M')
            const mostrar = ref('form'); 
            const username =ref('');
            const password=ref('');
            const user=ref({})
            const usuarios = ref([]);     
            const receptor =ref({});//con quien
            const mensaje = ref('');
            const mensajes =ref([]);

            const suscripcion=ref(null);

            const registrarse=async()=>{
                const{data,error}=await supabase.auth.signUp({
                    email:username.value,
                    password: password.value
                });
                if(error){
                    console.log(error);
                } else {
                    user.value=data.user;

                    const { error } = await supabase.from('users')
                .insert({ nombres: 'Gabriel Vargas',
                            username:'gabrielvargas',
                            email: username.value,
                            auth_id: user.value.id

                });
                console.log(error);
                user.value.nombres='Gabriel Vargas';
                user.value.username='gabrielvargas';

                localStorage.setItem('user',JSON.stringify(user.value));
                listarUsuarios();
                //listarMensajes();
                
                }
            }

            const login =async()=>{
                const { data, error } = await supabase.auth.signInWithPassword({

                email: username.value,

                password: password.value

            });
            if (error) {
                console.log(error);
            } else {            
                user.value=data.user;

                const response=await supabase.from('users')
                                            .select()
                                            .eq('auth_id',user.value.id);
                if (response.error) {
                    console.log(error);
                } else {
                    console.log(response.data);
                    user.value.nombres=response.data[0].nombres;
                    user.value.username=response.data[0].username;
                    localStorage.setItem('user',JSON.stringify(user.value));
                }
                listarUsuarios();
                //listarMensajes();
            }


            }

            const listarUsuarios=async()=>{
                const {data,error}=await supabase.from('users').select();

                if (error) {
                    console.log(error);
                }else{
                    console.log(data);
                    usuarios.value=data;
                }
            }

            const seleccionarReceptor=async(objUsuario)=>{
                receptor.value=objUsuario;
                cargarMensajes();  
                // setInterval(()=>{
                //     cargarMensajes();
                // },3000); 

                suscripcion.value = supabase.channel("mensajes")
                .on('postgres_changes', { event: 'INSERT', schema: 'public', table: 'mensajes' }, payload => {
                    if (payload.new.receptor_id==user.value.id && payload.new.emisor_id==receptor.value.auth_id) {
                        mensajes.value.push(payload.new);
                        var audio=document.getElementById("audio");
                        audio.play();
                    }
                    if (payload.new.receptor_id==user.value.id&&payload.new.emisor_id==receptor.value.auth_id) {
                        mensajes.value.push(payload.new);
                    }
                })
                .subscribe();
            console.log(suscripcion.value);
            }

            const cargarMensajes=async()=>{
                const {data,error}=await supabase.from('mensajes').select().or(`and(emisor_id.eq.${user.value.id},receptor_id.eq.${receptor.value.auth_id}),and(emisor_id.eq.${receptor.value.auth_id},receptor_id.eq.${user.value.id})`).order('id',{ascending: false}).limit(50);

                if (error) {
                    console.log(error);
                }else{
                    console.log(data);
                    mensajes.value=data.reverse();
                    var element=document.getElementById('chats');
                    element.scrollTop=element.scrollHeight;
                }
            }

            const enviar=async()=>{
                if (receptor.value.auth_id == null||receptor.value.auth_id==''||mensaje.value=='') {
                alert('Por favor complete los campos');
                return;
            } 
 
            const { error } = await supabase
              .from('mensajes')
              .insert({
                mensaje: mensaje.value,
                emisor_id: user.value.id,
                receptor_id: receptor.value.auth_id,
                
              });
            console.log(error);
            mensaje.value = '';
            //cargarMensajes();
          }
            

            return {        
            mostrar,
            username,
            password,
            user,
            registrarse,
            login,
            seleccionarReceptor,

            usuarios,
            receptor,
            mensaje,
            mensajes,
            enviar,
            }    
        }  
        }).mount('#app')
    </script>  
    </body>
</html>
